<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @guest.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guest.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guest.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guest.email %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @guest.birthday %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @guest.notes %>
</p>

  <%# if @spouse_id != nil %>
  <%= render 'spouse' %>
  <%# end %>


<%= link_to 'Edit', edit_guest_path(@guest) %> |
<td><%= link_to 'Destroy', @guest, method: :delete, data: { confirm: 'Are you sure?' } %></td> |
<%= link_to 'Back', guests_path %>
